@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Neucha');

body {
    background: image_url('stripes-light.png');
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

#map {
    height: 300px;
    width: 300px;
    text-align: center;
         display: inline-block;
     padding: 50px;
}

a {
  color:  #404040;
}

a:hover{
  color: #fd5f00;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #fff;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
}

.clear {
    clear: both;
}

.navbar {
    background: image_url('prism.png');
    box-shadow: 0px 1px 3px #2a2a2a;
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
    color: #fd5f00;
    font-family: 'Neucha', cursive;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 25px;
}

.pagination>li>a {
    background-color: white;
    color: black;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a {
    color: white;
    background-color: #5a5a5a !Important;
    border: solid 1px #5a5a5a !Important;
}

.btn-sample {
    color: #ffffff;
    background-color: #43464B;
    border-color: #130269;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    color: #ffffff;
    background-color: #000000;
    border-color: #130269;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
    background-color: #43464B;
    border-color: #130269;
}

.btn-sample .badge {
    color: #43464B;
    background-color: #ffffff;
}


.invalid-feedback {
    color: #ff3333;
    background-color: #FFEEEE;
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.user-upload-images{
  display: block;
  max-width:230px;
  max-height:230px;
  width: auto;
  height: auto;
  text-align: center;
}

#myCarousel {
  height: 500px;
  width: 500px;
  max-width: 100%;
  overflow: hidden;
}

.carousel-content {
  position: absolute;
  top: 80%;
  left: 50%;
  background-color: #C0C0C0;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.center-div {
  text-align: center;
}

.custom-carousel {
      display: inline-block;
    }